# Aspectos básicos
## Importar pandas

In [1]:
import pandas as pd

## Crear serie de datos

In [2]:
data=[2,1,3,4,2,1,6,7,10]

In [3]:
miserie = pd.Series(data)

In [4]:
miserie

0     2
1     1
2     3
3     4
4     2
5     1
6     6
7     7
8    10
dtype: int64

## Crear un dataframe

### A partir de listas para datos, índices y columnas

In [5]:
data = [[1,2,3],[2,4,6],[10,20,30]]
indice = ['l1','l2','l3']
columnas = ['A', 'B', 'C']

In [6]:
df = pd.DataFrame(data, index = indice, columns= columnas )

In [7]:
df

     A   B   C
l1   1   2   3
l2   2   4   6
l3  10  20  30

### A partir de diccionario

In [8]:
diccionario = {'A' : [1,2,10], 'B' : [2,4,20], 'C' : [3,6,30]}

In [9]:
dfdic = pd.DataFrame(diccionario)

In [10]:
dfdic

    A   B   C
0   1   2   3
1   2   4   6
2  10  20  30

## I/O de datos
https://pandas.pydata.org/docs/user_guide/io.html

### CSV

#### Exportar datos

In [11]:
df.to_csv('ejemploexp.csv')

#### Importar datos

In [12]:
dfpruebas = pd.read_csv('datos/housing/housing.csv')

In [13]:
dfpruebas

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

### Parquet

### Excel

## Vista de datos

### Ver primeras filas de los datos

In [14]:
dfpruebas.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [15]:
dfpruebas.head(8)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY

### Ver últimas filas de los datos

In [16]:
dfpruebas.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [17]:
dfpruebas.tail(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

### Ver valores de índice

In [18]:
dfpruebas.index

RangeIndex(start=0, stop=20640, step=1)

### Ver nombres de las columnas

In [19]:
dfpruebas.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

### Sumario estadístico de datos

In [20]:
dfpruebas.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [21]:
dfpruebas.describe(include='all')

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<1H OCEAN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9136
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909,NaN
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874,NaN
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,NaN
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000,NaN
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000,NaN
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000,NaN
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,NaN

In [22]:
dfpruebas.describe(include=['object'])

       ocean_proximity
count            20640
unique               5
top          <1H OCEAN
freq              9136

### Sumario de los datos del dataframe

In [23]:
dfpruebas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

## Transformación de datos

### Convertir df a representación numpy

In [24]:
dfpruebas.to_numpy()

array([[-122.23, 37.88, 41.0, ..., 8.3252, 452600.0, 'NEAR BAY'],
       [-122.22, 37.86, 21.0, ..., 8.3014, 358500.0, 'NEAR BAY'],
       [-122.24, 37.85, 52.0, ..., 7.2574, 352100.0, 'NEAR BAY'],
       ...,
       [-121.22, 39.43, 17.0, ..., 1.7, 92300.0, 'INLAND'],
       [-121.32, 39.43, 18.0, ..., 1.8672, 84700.0, 'INLAND'],
       [-121.24, 39.37, 16.0, ..., 2.3886, 89400.0, 'INLAND']],
      dtype=object)

### Trasponer los datos

In [25]:
dfpruebas.T

,0,1,2,3,4,5,6,7,8,9,...,20630,20631,20632,20633,20634,20635,20636,20637,20638,20639
longitude,-122.23,-122.22,-122.24,-122.25,-122.25,-122.25,-122.25,-122.25,-122.26,-122.25,...,-121.32,-121.4,-121.45,-121.53,-121.56,-121.09,-121.21,-121.22,-121.32,-121.24
latitude,37.88,37.86,37.85,37.85,37.85,37.85,37.84,37.84,37.84,37.84,...,39.29,39.33,39.26,39.19,39.27,39.48,39.49,39.43,39.43,39.37
housing_median_age,41.0,21.0,52.0,52.0,52.0,52.0,52.0,52.0,42.0,52.0,...,11.0,15.0,15.0,27.0,28.0,25.0,18.0,17.0,18.0,16.0
total_rooms,880.0,7099.0,1467.0,1274.0,1627.0,919.0,2535.0,3104.0,2555.0,3549.0,...,2640.0,2655.0,2319.0,2080.0,2332.0,1665.0,697.0,2254.0,1860.0,2785.0
total_bedrooms,129.0,1106.0,190.0,235.0,280.0,213.0,489.0,687.0,665.0,707.0,...,505.0,493.0,416.0,412.0,395.0,374.0,150.0,485.0,409.0,616.0
population,322.0,2401.0,496.0,558.0,565.0,413.0,1094.0,1157.0,1206.0,1551.0,...,1257.0,1200.0,1047.0,1082.0,1041.0,845.0,356.0,1007.0,741.0,1387.0
households,126.0,1138.0,177.0,219.0,259.0,193.0,514.0,647.0,595.0,714.0,...,445.0,432.0,385.0,382.0,344.0,330.0,114.0,433.0,349.0,530.0
median_income,8.3252,8.3014,7.2574,5.6431,3.8462,4.0368,3.6591,3.12,2.0804,3.6912,...,3.5673,3.5179,3.125,2.5495,3.7125,1.5603,2.5568,1.7,1.8672,2.3886
median_house_value,452600.0,358500.0,352100.0,341300.0,342200.0,269700.0,299200.0,241400.0,226700.0,261100.0,...,112000.0,107200.0,115600.0,98300.0,116800.0,78100.0,77100.0,92300.0,84700.0,89400.0
ocean_proximity,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,NEAR BAY,...,INLAND,INLAND,INLAND,INLAND,INLAND,INLAND,INLAND,INLAND,INLAND,INLAND

### Ordena las columnas según su nombre
**Nota:** se podría hacer una ordenación por el índice configurando axis=0

In [26]:
dfpruebas.sort_index(axis=1, ascending=False)

,total_rooms,total_bedrooms,population,ocean_proximity,median_income,median_house_value,longitude,latitude,housing_median_age,households
0,880.0,129.0,322.0,NEAR BAY,8.3252,452600.0,-122.23,37.88,41.0,126.0
1,7099.0,1106.0,2401.0,NEAR BAY,8.3014,358500.0,-122.22,37.86,21.0,1138.0
2,1467.0,190.0,496.0,NEAR BAY,7.2574,352100.0,-122.24,37.85,52.0,177.0
3,1274.0,235.0,558.0,NEAR BAY,5.6431,341300.0,-122.25,37.85,52.0,219.0
4,1627.0,280.0,565.0,NEAR BAY,3.8462,342200.0,-122.25,37.85,52.0,259.0
...,...,...,...,...,...,...,...,...,...,...
20635,1665.0,374.0,845.0,INLAND,1.5603,78100.0,-121.09,39.48,25.0,330.0
20636,697.0,150.0,356.0,INLAND,2.5568,77100.0,-121.21,39.49,18.0,114.0
20637,2254.0,485.0,1007.0,INLAND,1.7000,92300.0,-121.22,39.43,17.0,433.0
20638,1860.0,409.0,741.0,INLAND,1.8672,84700.0,-121.32,39.43,18.0,349.0
20639,2785.0,616.0,1387.0,INLAND,2.3886,89400.0,-121.24,39.37,16.0,530.0

### Ordena los datos según los valores de una columna
https://pandas.pydata.org/docs/user_guide/basics.html#sorting

In [27]:
dfpruebas.sort_values(by='total_rooms', ascending = False)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
13139,-121.44,38.43,3.0,39320.0,6210.0,16305.0,5358.0,4.9516,153700.0,INLAND
10309,-117.74,33.89,4.0,37937.0,5471.0,16122.0,5189.0,7.4947,366300.0,<1H OCEAN
9880,-121.79,36.64,11.0,32627.0,6445.0,28566.0,6082.0,2.3087,118800.0,<1H OCEAN
6057,-117.78,34.03,8.0,32054.0,5290.0,15507.0,5050.0,6.0191,253900.0,<1H OCEAN
12201,-117.20,33.58,2.0,30450.0,5033.0,9419.0,3197.0,4.5936,174300.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
73,-122.29,37.81,46.0,12.0,4.0,18.0,7.0,0.4999,67500.0,NEAR BAY
5916,-118.44,34.28,46.0,11.0,11.0,24.0,13.0,2.8750,162500.0,<1H OCEAN
16171,-122.50,37.79,52.0,8.0,1.0,13.0,1.0,15.0001,500001.0,NEAR BAY
12286,-116.95,33.86,1.0,6.0,2.0,8.0,2.0,1.6250,55000.0,INLAND
3126,-117.79,35.21,4.0,2.0,2.0,6.0,2.0,2.3750,137500.0,INLAND

### Métodos de transformación de strings
Se pueden aplicar métodos de transformación de strings (lower, upper, split...) a las series de los data frames

In [28]:
dfpruebas['ocean_proximity']=dfpruebas['ocean_proximity'].str.lower()

## Selección de datos
https://pandas.pydata.org/docs/user_guide/indexing.html

Gestión de multiíndices: https://pandas.pydata.org/docs/user_guide/advanced.html

### Selección por etiqueta

#### Seleccionar los datos de una o varias columnas

In [29]:
dfpruebas['latitude']

0        37.88
1        37.86
2        37.85
3        37.85
4        37.85
         ...
20635    39.48
20636    39.49
20637    39.43
20638    39.43
20639    39.37
Name: latitude, Length: 20640, dtype: float64

In [30]:
dfpruebas[['latitude','longitude']]

       latitude  longitude
0         37.88    -122.23
1         37.86    -122.22
2         37.85    -122.24
3         37.85    -122.25
4         37.85    -122.25
...         ...        ...
20635     39.48    -121.09
20636     39.49    -121.21
20637     39.43    -121.22
20638     39.43    -121.32
20639     39.37    -121.24

[20640 rows x 2 columns]

In [31]:
dfpruebas.loc[:, ["latitude", "longitude"]]

       latitude  longitude
0         37.88    -122.23
1         37.86    -122.22
2         37.85    -122.24
3         37.85    -122.25
4         37.85    -122.25
...         ...        ...
20635     39.48    -121.09
20636     39.49    -121.21
20637     39.43    -121.22
20638     39.43    -121.32
20639     39.37    -121.24

[20640 rows x 2 columns]

#### Seleccionar datos de un rango de filas

In [32]:
dfpruebas[12:15]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
12,-122.26,37.85,52.0,2491.0,474.0,1098.0,468.0,3.0750,213500.0,near bay
13,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736,191300.0,near bay
14,-122.26,37.85,52.0,2643.0,626.0,1212.0,620.0,1.9167,159200.0,near bay

In [33]:
indice = [0,1,5,10,100,1000]

#### Seleccionar dato según valor del índice de filas

In [34]:
dfpruebas.loc[indice[2]]

longitude              -122.25
latitude                 37.85
housing_median_age        52.0
total_rooms              919.0
total_bedrooms           213.0
population               413.0
households               193.0
median_income           4.0368
median_house_value    269700.0
ocean_proximity       near bay
Name: 5, dtype: object

In [35]:
dfpruebas.loc[5]

longitude              -122.25
latitude                 37.85
housing_median_age        52.0
total_rooms              919.0
total_bedrooms           213.0
population               413.0
households               193.0
median_income           4.0368
median_house_value    269700.0
ocean_proximity       near bay
Name: 5, dtype: object

Se pueden combinar ambas ideas para seleccionar datos según índice de fila y columna.

**Nota**: Los dos ejemplos siguientes hacen lo mismo pero el segundo es más rápido.

In [36]:
dfpruebas.loc[5, 'population']

413.0

In [37]:
dfpruebas.at[5, 'population']

413.0

### Selección por posición

#### Seleccionar una fila concreta

In [38]:
dfpruebas.iloc[3]

longitude              -122.25
latitude                 37.85
housing_median_age        52.0
total_rooms             1274.0
total_bedrooms           235.0
population               558.0
households               219.0
median_income           5.6431
median_house_value    341300.0
ocean_proximity       near bay
Name: 3, dtype: object

#### Seleccionar según rango de filas y columnas

In [39]:
dfpruebas.iloc[:3,2:5]

   housing_median_age  total_rooms  total_bedrooms
0                41.0        880.0           129.0
1                21.0       7099.0          1106.0
2                52.0       1467.0           190.0

In [40]:
dfpruebas.iloc[[1, 2, 4], [0, 2]]

   longitude  housing_median_age
1    -122.22                21.0
2    -122.24                52.0
4    -122.25                52.0

#### Seleccionar un valor concreto

In [41]:
df.iloc[1, 1]

4

In [42]:
df.iat[1,1]

4

### Selección booleana

#### Selección de filas que cumplen una condición

In [43]:
dfpruebas[dfpruebas['latitude']>38]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
1022,-119.78,38.69,17.0,1364.0,282.0,338.0,152.0,2.4500,117600.0,inland
1023,-119.93,38.72,15.0,2061.0,465.0,573.0,196.0,2.2417,97900.0,inland
1024,-120.00,38.52,16.0,3045.0,543.0,202.0,102.0,3.1500,140600.0,inland
1025,-120.56,38.48,14.0,3545.0,702.0,946.0,411.0,3.4609,120900.0,inland
1026,-120.59,38.45,13.0,2944.0,558.0,1091.0,466.0,3.0000,119000.0,inland
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,inland
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,inland
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,inland
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,inland
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,inland

#### Devuelve los valores que cumplen la condición, al resto asigna NaN

In [44]:
df

     A   B   C
l1   1   2   3
l2   2   4   6
l3  10  20  30

In [45]:
df[df>4]

       A     B     C
l1   NaN   NaN   NaN
l2   NaN   NaN   6.0
l3  10.0  20.0  30.0

#### Filtrar por valor o grupo de valores

In [46]:
dfpruebas[dfpruebas['ocean_proximity'].isin(['NEAR BAY','INLAND'])]

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, ocean_proximity]
Index: []

In [47]:
dfpruebas[dfpruebas['longitude'].isin([-122.23])]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,near bay
118,-122.23,37.84,50.0,2515.0,399.0,970.0,373.0,5.8596,327600.0,near bay
119,-122.23,37.84,47.0,3175.0,454.0,1098.0,485.0,5.2868,347600.0,near bay
122,-122.23,37.85,52.0,2800.0,411.0,1061.0,403.0,6.3434,373600.0,near bay
152,-122.23,37.80,52.0,2033.0,486.0,787.0,459.0,3.1603,269500.0,near bay
...,...,...,...,...,...,...,...,...,...,...
19748,-122.23,40.20,17.0,762.0,138.0,322.0,139.0,4.2917,128800.0,inland
19758,-122.23,40.17,21.0,1401.0,331.0,651.0,299.0,2.2250,64700.0,inland
19759,-122.23,40.15,14.0,2297.0,573.0,1637.0,551.0,1.7870,51600.0,inland
19774,-122.23,39.95,21.0,2087.0,382.0,888.0,361.0,2.2070,86400.0,inland
19776,-122.23,39.86,21.0,1730.0,350.0,982.0,322.0,1.8375,79800.0,inland

## Borrado de columnas

### Eliminación de columna del dataframe

In [48]:
del dfpruebas['total_rooms']

In [49]:
dfpruebas

,longitude,latitude,housing_median_age,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,129.0,322.0,126.0,8.3252,452600.0,near bay
1,-122.22,37.86,21.0,1106.0,2401.0,1138.0,8.3014,358500.0,near bay
2,-122.24,37.85,52.0,190.0,496.0,177.0,7.2574,352100.0,near bay
3,-122.25,37.85,52.0,235.0,558.0,219.0,5.6431,341300.0,near bay
4,-122.25,37.85,52.0,280.0,565.0,259.0,3.8462,342200.0,near bay
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,374.0,845.0,330.0,1.5603,78100.0,inland
20636,-121.21,39.49,18.0,150.0,356.0,114.0,2.5568,77100.0,inland
20637,-121.22,39.43,17.0,485.0,1007.0,433.0,1.7000,92300.0,inland
20638,-121.32,39.43,18.0,409.0,741.0,349.0,1.8672,84700.0,inland
20639,-121.24,39.37,16.0,616.0,1387.0,530.0,2.3886,89400.0,inland

### Eliminación de columna del dataframe y reasignación

In [50]:
total_bedrooms = dfpruebas.pop('total_bedrooms')

In [51]:
total_bedrooms

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
20635     374.0
20636     150.0
20637     485.0
20638     409.0
20639     616.0
Name: total_bedrooms, Length: 20640, dtype: float64

In [52]:
dfpruebas

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,322.0,126.0,8.3252,452600.0,near bay
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,358500.0,near bay
2,-122.24,37.85,52.0,496.0,177.0,7.2574,352100.0,near bay
3,-122.25,37.85,52.0,558.0,219.0,5.6431,341300.0,near bay
4,-122.25,37.85,52.0,565.0,259.0,3.8462,342200.0,near bay
...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,845.0,330.0,1.5603,78100.0,inland
20636,-121.21,39.49,18.0,356.0,114.0,2.5568,77100.0,inland
20637,-121.22,39.43,17.0,1007.0,433.0,1.7000,92300.0,inland
20638,-121.32,39.43,18.0,741.0,349.0,1.8672,84700.0,inland
20639,-121.24,39.37,16.0,1387.0,530.0,2.3886,89400.0,inland

## Asignación de valores

### Asignación de valores a una nueva columna

In [53]:
import numpy as np
valores = np.zeros(20640)

In [54]:
valores

array([0., 0., 0., ..., 0., 0., 0.])

In [55]:
dfpruebas['ceros'] = valores

In [56]:
dfpruebas['latmaslong']=dfpruebas['longitude']+dfpruebas['latitude']

In [57]:
dfpruebas

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity,ceros,latmaslong
0,-122.23,37.88,41.0,322.0,126.0,8.3252,452600.0,near bay,0.0,-84.35
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,358500.0,near bay,0.0,-84.36
2,-122.24,37.85,52.0,496.0,177.0,7.2574,352100.0,near bay,0.0,-84.39
3,-122.25,37.85,52.0,558.0,219.0,5.6431,341300.0,near bay,0.0,-84.40
4,-122.25,37.85,52.0,565.0,259.0,3.8462,342200.0,near bay,0.0,-84.40
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,845.0,330.0,1.5603,78100.0,inland,0.0,-81.61
20636,-121.21,39.49,18.0,356.0,114.0,2.5568,77100.0,inland,0.0,-81.72
20637,-121.22,39.43,17.0,1007.0,433.0,1.7000,92300.0,inland,0.0,-81.79
20638,-121.32,39.43,18.0,741.0,349.0,1.8672,84700.0,inland,0.0,-81.89
20639,-121.24,39.37,16.0,1387.0,530.0,2.3886,89400.0,inland,0.0,-81.87

### Asignación por posición o etiqueta

In [58]:
dfpruebas.at[0,'longitude']=0

In [59]:
dfpruebas.iat[0,1]=0

In [60]:
dfpruebas

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity,ceros,latmaslong
0,0.00,0.00,41.0,322.0,126.0,8.3252,452600.0,near bay,0.0,-84.35
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,358500.0,near bay,0.0,-84.36
2,-122.24,37.85,52.0,496.0,177.0,7.2574,352100.0,near bay,0.0,-84.39
3,-122.25,37.85,52.0,558.0,219.0,5.6431,341300.0,near bay,0.0,-84.40
4,-122.25,37.85,52.0,565.0,259.0,3.8462,342200.0,near bay,0.0,-84.40
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,845.0,330.0,1.5603,78100.0,inland,0.0,-81.61
20636,-121.21,39.49,18.0,356.0,114.0,2.5568,77100.0,inland,0.0,-81.72
20637,-121.22,39.43,17.0,1007.0,433.0,1.7000,92300.0,inland,0.0,-81.79
20638,-121.32,39.43,18.0,741.0,349.0,1.8672,84700.0,inland,0.0,-81.89
20639,-121.24,39.37,16.0,1387.0,530.0,2.3886,89400.0,inland,0.0,-81.87

### Asignación por numpy array

In [61]:
dfpruebas.loc[:,'longitude']= np.array([5]*len(dfpruebas))

In [62]:
dfpruebas

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity,ceros,latmaslong
0,5,0.00,41.0,322.0,126.0,8.3252,452600.0,near bay,0.0,-84.35
1,5,37.86,21.0,2401.0,1138.0,8.3014,358500.0,near bay,0.0,-84.36
2,5,37.85,52.0,496.0,177.0,7.2574,352100.0,near bay,0.0,-84.39
3,5,37.85,52.0,558.0,219.0,5.6431,341300.0,near bay,0.0,-84.40
4,5,37.85,52.0,565.0,259.0,3.8462,342200.0,near bay,0.0,-84.40
...,...,...,...,...,...,...,...,...,...,...
20635,5,39.48,25.0,845.0,330.0,1.5603,78100.0,inland,0.0,-81.61
20636,5,39.49,18.0,356.0,114.0,2.5568,77100.0,inland,0.0,-81.72
20637,5,39.43,17.0,1007.0,433.0,1.7000,92300.0,inland,0.0,-81.79
20638,5,39.43,18.0,741.0,349.0,1.8672,84700.0,inland,0.0,-81.89
20639,5,39.37,16.0,1387.0,530.0,2.3886,89400.0,inland,0.0,-81.87

### Asignación por escalar

In [63]:
dfpruebas['longitude']=1

In [64]:
dfpruebas

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity,ceros,latmaslong
0,1,0.00,41.0,322.0,126.0,8.3252,452600.0,near bay,0.0,-84.35
1,1,37.86,21.0,2401.0,1138.0,8.3014,358500.0,near bay,0.0,-84.36
2,1,37.85,52.0,496.0,177.0,7.2574,352100.0,near bay,0.0,-84.39
3,1,37.85,52.0,558.0,219.0,5.6431,341300.0,near bay,0.0,-84.40
4,1,37.85,52.0,565.0,259.0,3.8462,342200.0,near bay,0.0,-84.40
...,...,...,...,...,...,...,...,...,...,...
20635,1,39.48,25.0,845.0,330.0,1.5603,78100.0,inland,0.0,-81.61
20636,1,39.49,18.0,356.0,114.0,2.5568,77100.0,inland,0.0,-81.72
20637,1,39.43,17.0,1007.0,433.0,1.7000,92300.0,inland,0.0,-81.79
20638,1,39.43,18.0,741.0,349.0,1.8672,84700.0,inland,0.0,-81.89
20639,1,39.37,16.0,1387.0,530.0,2.3886,89400.0,inland,0.0,-81.87

### Asignación por condición booleana

In [65]:
dfpruebas[dfpruebas['latitude']<38]=0

In [66]:
dfpruebas

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity,ceros,latmaslong
0,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
1,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
2,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
3,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
4,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...
20635,1,39.48,25.0,845.0,330.0,1.5603,78100.0,inland,0.0,-81.61
20636,1,39.49,18.0,356.0,114.0,2.5568,77100.0,inland,0.0,-81.72
20637,1,39.43,17.0,1007.0,433.0,1.7000,92300.0,inland,0.0,-81.79
20638,1,39.43,18.0,741.0,349.0,1.8672,84700.0,inland,0.0,-81.89
20639,1,39.37,16.0,1387.0,530.0,2.3886,89400.0,inland,0.0,-81.87

**Nota:** Como se puede ver, asigna el valor a todo el dataframe en este caso

In [67]:
df[df>4]=4

In [68]:
df

    A  B  C
l1  1  2  3
l2  2  4  4
l3  4  4  4

#### Sustituir valores de columna booleana por valor numérico

**Nota:** Falta df de ejemplo para aplicar

In [69]:
df['defects'] = df['defects'].replace({True: 1, False: 0})

KeyError: 'defects'

## Gestión de valores NaN
https://pandas.pydata.org/docs/user_guide/missing_data.html

### Tabla que indica los valores NaN
Devuelve una tabla que indica como falso los valores con dato y verdadero los NaN

In [70]:
pd.isna(dfpruebas)

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity,ceros,latmaslong
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
20635,False,False,False,False,False,False,False,False,False,False
20636,False,False,False,False,False,False,False,False,False,False
20637,False,False,False,False,False,False,False,False,False,False
20638,False,False,False,False,False,False,False,False,False,False
20639,False,False,False,False,False,False,False,False,False,False

### Borrar filas con valores NaN

In [71]:
dfpruebas.dropna(how='any')

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity,ceros,latmaslong
0,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
1,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
2,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
3,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
4,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...
20635,1,39.48,25.0,845.0,330.0,1.5603,78100.0,inland,0.0,-81.61
20636,1,39.49,18.0,356.0,114.0,2.5568,77100.0,inland,0.0,-81.72
20637,1,39.43,17.0,1007.0,433.0,1.7000,92300.0,inland,0.0,-81.79
20638,1,39.43,18.0,741.0,349.0,1.8672,84700.0,inland,0.0,-81.89
20639,1,39.37,16.0,1387.0,530.0,2.3886,89400.0,inland,0.0,-81.87

### Sustituye NaN por el valor indicado

In [72]:
dfpruebas.fillna(value=5)

,longitude,latitude,housing_median_age,population,households,median_income,median_house_value,ocean_proximity,ceros,latmaslong
0,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
1,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
2,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
3,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
4,0,0.00,0.0,0.0,0.0,0.0000,0.0,0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...
20635,1,39.48,25.0,845.0,330.0,1.5603,78100.0,inland,0.0,-81.61
20636,1,39.49,18.0,356.0,114.0,2.5568,77100.0,inland,0.0,-81.72
20637,1,39.43,17.0,1007.0,433.0,1.7000,92300.0,inland,0.0,-81.79
20638,1,39.43,18.0,741.0,349.0,1.8672,84700.0,inland,0.0,-81.89
20639,1,39.37,16.0,1387.0,530.0,2.3886,89400.0,inland,0.0,-81.87

## Estadísticos

In [73]:
df

    A  B  C
l1  1  2  3
l2  2  4  4
l3  4  4  4

### Media

Media por columnas

In [74]:
df.mean()

A    2.333333
B    3.333333
C    3.666667
dtype: float64

Media por filas

In [75]:
df.mean(axis=1)

l1    2.000000
l2    3.333333
l3    4.000000
dtype: float64

### Mediana

In [76]:
df.median()

A    2.0
B    4.0
C    4.0
dtype: float64

### Mínimo y máximo

In [77]:
df.min()

A    1
B    2
C    3
dtype: int64

In [78]:
df.max()

A    4
B    4
C    4
dtype: int64

### Varianza

In [79]:
df.var()

A    2.333333
B    1.333333
C    0.333333
dtype: float64

### Desviación típica

In [80]:
df.std()

A    1.527525
B    1.154701
C    0.577350
dtype: float64

### Percentil

In [81]:
df.quantile(0.5)

A    2.0
B    4.0
C    4.0
Name: 0.5, dtype: float64

### Metodos de conteo

In [82]:
df.count()

A    3
B    3
C    3
dtype: int64

In [83]:
df.value_counts()

A  B  C
1  2  3    1
2  4  4    1
4  4  4    1
dtype: int64

In [84]:
df.value_counts('B')

B
4    2
2    1
dtype: int64

## Funciones definidas por el usuario

### Resume por columnas la operación

In [85]:
df.agg(lambda x: np.mean(x)*5.6)

A    13.066667
B    18.666667
C    20.533333
dtype: float64

### Modifica los datos del dataframe según la función

In [86]:
df.transform(lambda x: x*100)

      A    B    C
l1  100  200  300
l2  200  400  400
l3  400  400  400

In [87]:
df['A'].transform(lambda x: x*50)

l1     50
l2    100
l3    200
Name: A, dtype: int64

## Agrupamiento

### Agrupamiento por valores

In [88]:
data = {'A': ['X', 'Y', 'X', 'Y', 'X'],
        'B': ['A', 'B', 'A', 'A', 'B'],
        'Valor': [10, 20, 30, 40, 50]}

df = pd.DataFrame(data)

In [89]:
df

   A  B  Valor
0  X  A     10
1  Y  B     20
2  X  A     30
3  Y  A     40
4  X  B     50

Se tienen las combinaciones posibles de las columnas A y B combinadas expresando el valor de esa combinación mediante la suma

In [90]:
df.groupby(['A','B']).sum()

     Valor
A B
X A     40
  B     50
Y A     40
  B     20

Se tiene el valor agrupado de la columna A y los valores de las columna B y Valor resumidos mediante la suma

In [91]:
df.groupby("A")[["B", "Valor"]].sum()

   Valor
A
X     90
Y     60

### Reducción booleana
Se pueden resumir los datos mediante expresiones booleanas (cumpliendo una condición o no)

In [92]:
dfdic

    A   B   C
0   1   2   3
1   2   4   6
2  10  20  30

In [93]:
(dfdic>10).any()

A    False
B     True
C     True
dtype: bool

In [94]:
(dfdic>10).all()

A    False
B    False
C    False
dtype: bool

In [95]:
dfdic.empty

False

In [96]:
dd = pd.DataFrame()

In [97]:
dd.empty

True

In [98]:
(dfpruebas==0).all()

longitude             False
latitude              False
housing_median_age    False
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
ceros                  True
latmaslong            False
dtype: bool

## Reindexación y alteración de etiquetas

In [99]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [100]:
s

a   -0.040176
b    0.014968
c   -1.790213
d    0.495583
e   -0.398638
dtype: float64

In [101]:

s.reindex(["e", "b", "f", "d"])

e   -0.398638
b    0.014968
f         NaN
d    0.495583
dtype: float64

Se puede ver como en este caso reorganiza el índice según la reindexación y crea la fila 'f' con valor NaN ya que no existía en la serie original

In [108]:
data = [[1.394981,1.772517,None],[0.343054,1.912123,-0.050390],[0.695246,1.478369,1.227435],[None,0.279344,-0.613172]]

In [110]:
df = pd.DataFrame(data, index = ['a','b','c','d'], columns= ['one','two','three'] )

In [111]:
df

        one       two     three
a  1.394981  1.772517       NaN
b  0.343054  1.912123 -0.050390
c  0.695246  1.478369  1.227435
d       NaN  0.279344 -0.613172

In [112]:
df.reindex(index=["c", "f", "b"], columns=["three", "two", "one"])

      three       two       one
c  1.227435  1.478369  0.695246
f       NaN       NaN       NaN
b -0.050390  1.912123  0.343054

Las etiquetas de índice se pueden compartir entre series y dataframes. Por lo que lo siguiente estaría permitido.

In [114]:
rs = s.reindex(df.index)
rs

a   -0.040176
b    0.014968
c   -1.790213
d    0.495583
dtype: float64

In [115]:
df.reindex(["three", "two", "one"], axis="columns") # se puede especificar el índice que se quiere alterar

      three       two       one
a       NaN  1.772517  1.394981
b -0.050390  1.912123  0.343054
c  1.227435  1.478369  0.695246
d -0.613172  0.279344       NaN

In [116]:
df.reindex(["three", "two", "one"], axis="index")

       one  two  three
three  NaN  NaN    NaN
two    NaN  NaN    NaN
one    NaN  NaN    NaN

### Reindexación para alinear con otro objeto
Consiste en reindexar un objeto tal como está indexado otro mediante la expresión df.reindex_like(DataFrame)

In [124]:
df2 = df.reindex(["a", "b", "c"], columns=["one", "two"])

In [129]:
df2

        one       two
a  1.394981  1.772517
b  0.343054  1.912123
c  0.695246  1.478369

In [127]:
df3 =df2-df2.mean()

In [128]:
df3

        one       two
a  0.583887  0.051514
b -0.468040  0.191120
c -0.115848 -0.242634

In [130]:
df.reindex_like(df3)

        one       two
a  1.394981  1.772517
b  0.343054  1.912123
c  0.695246  1.478369

### Rellenar mientras se reindexa
Útil para series temporales. Se pueden emplear los siguientes métodos:
    
| Método | Acción |
|:--------:|:----:|
|pad/ffill|Llenar valores hacia adelante| 
|bfill / backfill|Llena valores hacia atrás| 
|nearest|Rellenar desde el valor de índice más cercano|

In [157]:
rng = pd.date_range("1/3/2000", periods=8)
ts = pd.Series(np.random.randn(8), index=rng)
ts2 = ts.iloc[[0, 3, 6]]

In [158]:
ts

2000-01-03    0.966269
2000-01-04    1.976361
2000-01-05    0.290852
2000-01-06   -0.753616
2000-01-07   -0.294379
2000-01-08    0.553015
2000-01-09    1.006104
2000-01-10    0.165723
Freq: D, dtype: float64

In [159]:
ts2

2000-01-03    0.966269
2000-01-06   -0.753616
2000-01-09    1.006104
Freq: 3D, dtype: float64

In [160]:
ts2.reindex(ts.index)

2000-01-03    0.966269
2000-01-04         NaN
2000-01-05         NaN
2000-01-06   -0.753616
2000-01-07         NaN
2000-01-08         NaN
2000-01-09    1.006104
2000-01-10         NaN
Freq: D, dtype: float64

In [161]:
ts2.reindex(ts.index, method='ffill')

2000-01-03    0.966269
2000-01-04    0.966269
2000-01-05    0.966269
2000-01-06   -0.753616
2000-01-07   -0.753616
2000-01-08   -0.753616
2000-01-09    1.006104
2000-01-10    1.006104
Freq: D, dtype: float64

In [162]:
ts2.reindex(ts.index, method='bfill')

2000-01-03    0.966269
2000-01-04   -0.753616
2000-01-05   -0.753616
2000-01-06   -0.753616
2000-01-07    1.006104
2000-01-08    1.006104
2000-01-09    1.006104
2000-01-10         NaN
Freq: D, dtype: float64

In [163]:
ts2.reindex(ts.index, method='nearest')

2000-01-03    0.966269
2000-01-04    0.966269
2000-01-05   -0.753616
2000-01-06   -0.753616
2000-01-07   -0.753616
2000-01-08    1.006104
2000-01-09    1.006104
2000-01-10    1.006104
Freq: D, dtype: float64

**Nota:** reindex devolverá un error si el índice no es monótonamente creciente o decreciente. Con los métodos fillnea() o interpolate() no se realiza la comprobación en el orden del índice.

#### Definir límites en reindexación

In [164]:
ts2.reindex(ts.index, method='ffill', limit=1)

2000-01-03    0.966269
2000-01-04    0.966269
2000-01-05         NaN
2000-01-06   -0.753616
2000-01-07   -0.753616
2000-01-08         NaN
2000-01-09    1.006104
2000-01-10    1.006104
Freq: D, dtype: float64

In [168]:
ts2.reindex(ts.index, method='ffill', tolerance='1 day')

2000-01-03    0.966269
2000-01-04    0.966269
2000-01-05         NaN
2000-01-06   -0.753616
2000-01-07   -0.753616
2000-01-08         NaN
2000-01-09    1.006104
2000-01-10    1.006104
Freq: D, dtype: float64

### Borrar una selección de etiquetas de un eje

In [169]:
df.drop(["a", "d"], axis=0)

        one       two     three
b  0.343054  1.912123 -0.050390
c  0.695246  1.478369  1.227435

In [171]:
df.drop(["one"], axis=1)

        two     three
a  1.772517       NaN
b  1.912123 -0.050390
c  1.478369  1.227435
d  0.279344 -0.613172

### Renombrar mapear etiquetas

In [173]:
s.rename(str.upper)

A   -0.294405
B    1.799087
C    0.421478
D    0.228509
E   -0.964365
dtype: float64

In [174]:
df.rename(
    columns={"one": "foo", "two": "bar"},
    index={"a": "apple", "b": "banana", "d": "durian"},
)

             foo       bar     three
apple   1.394981  1.772517       NaN
banana  0.343054  1.912123 -0.050390
c       0.695246  1.478369  1.227435
durian       NaN  0.279344 -0.613172

## Alineación de objetos con align
Permite los siguientes comandos de unión:
* **join = 'outer':** tomar la unión de los índices (por defecto)
* **join='left'** usa el índice del objeto llamado
* **join='right'** usa el índice del objeto pasado
* **join= 'inner'** usa la intersección del índice

In [131]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [133]:
s1 = s[:4]

In [134]:
s2=s[1:]

In [142]:
s1.align(s2)

(a   -0.294405
 b    1.799087
 c    0.421478
 d    0.228509
 e         NaN
 dtype: float64,
 a         NaN
 b    1.799087
 c    0.421478
 d    0.228509
 e   -0.964365
 dtype: float64)

In [143]:
s1.align(s2, join='left')

(a   -0.294405
 b    1.799087
 c    0.421478
 d    0.228509
 dtype: float64,
 a         NaN
 b    1.799087
 c    0.421478
 d    0.228509
 dtype: float64)

In [144]:
s1.align(s2, join='right')

(b    1.799087
 c    0.421478
 d    0.228509
 e         NaN
 dtype: float64,
 b    1.799087
 c    0.421478
 d    0.228509
 e   -0.964365
 dtype: float64)

In [145]:
s1.align(s2, join='inner')

(b    1.799087
 c    0.421478
 d    0.228509
 dtype: float64,
 b    1.799087
 c    0.421478
 d    0.228509
 dtype: float64)

Por defecto en un dataframe se aplica la alineación a ambos índices

In [146]:
df.align(df2, join="inner")

(        one       two
 a  1.394981  1.772517
 b  0.343054  1.912123
 c  0.695246  1.478369,
         one       two
 a  1.394981  1.772517
 b  0.343054  1.912123
 c  0.695246  1.478369)

Se puede hacer una alineación sobre un eje específico

In [148]:
df.align(df2, join="inner", axis=0)

(        one       two     three
 a  1.394981  1.772517       NaN
 b  0.343054  1.912123 -0.050390
 c  0.695246  1.478369  1.227435,
         one       two
 a  1.394981  1.772517
 b  0.343054  1.912123
 c  0.695246  1.478369)

In [156]:
df.align(df2.iloc[0], axis=1)

(        one     three       two
 a  1.394981       NaN  1.772517
 b  0.343054 -0.050390  1.912123
 c  0.695246  1.227435  1.478369
 d       NaN -0.613172  0.279344,
 one      1.394981
 three         NaN
 two      1.772517
 Name: a, dtype: float64)

## Acceder a serie con propiedades temporales (.dt accessor)
https://pandas.pydata.org/docs/user_guide/basics.html#dt-accessor

In [176]:
s = pd.Series(pd.date_range("20130101 09:10:12", periods=4))

In [177]:
s

0   2013-01-01 09:10:12
1   2013-01-02 09:10:12
2   2013-01-03 09:10:12
3   2013-01-04 09:10:12
dtype: datetime64[ns]

In [178]:
s.dt.hour

0    9
1    9
2    9
3    9
dtype: int64

In [180]:
s.dt.second

0    12
1    12
2    12
3    12
dtype: int64

In [181]:
s.dt.day

0    1
1    2
2    3
3    4
dtype: int64

In [182]:
s[s.dt.day == 2]

1   2013-01-02 09:10:12
dtype: datetime64[ns]

In [184]:
stz = s.dt.tz_localize("US/Eastern")
stz

0   2013-01-01 09:10:12-05:00
1   2013-01-02 09:10:12-05:00
2   2013-01-03 09:10:12-05:00
3   2013-01-04 09:10:12-05:00
dtype: datetime64[ns, US/Eastern]

In [185]:
stz.dt.tz

In [186]:
s.dt.tz_localize("UTC").dt.tz_convert("US/Eastern")

0   2013-01-01 04:10:12-05:00
1   2013-01-02 04:10:12-05:00
2   2013-01-03 04:10:12-05:00
3   2013-01-04 04:10:12-05:00
dtype: datetime64[ns, US/Eastern]

In [187]:
s = pd.Series(pd.date_range("20130101", periods=4))

In [188]:
s

0   2013-01-01
1   2013-01-02
2   2013-01-03
3   2013-01-04
dtype: datetime64[ns]

In [190]:
s.dt.strftime("%d/%m/%Y")

0    01/01/2013
1    02/01/2013
2    03/01/2013
3    04/01/2013
dtype: object

# Merge, join, concatenar y comparar
https://pandas.pydata.org/docs/user_guide/merging.html

# Gestión de índices duplicados
https://pandas.pydata.org/docs/user_guide/duplicates.html

# Gestión de datos categóricos
https://pandas.pydata.org/docs/user_guide/categorical.html#dataframe-creation